<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href="//rawgit.com/oracle/oraclejet/2.1.0/dist/css/alta/oj-alta-min.css" />
   <link rel="stylesheet" href="css/styles.css" />
   <script src="oraclejet/require.js" data-main="oraclejet/main.js"></script>
  </head>
  <body>
    <div id="mainContent" class="container">
      <!--div data-bind="ojModule: { name: 'header'}"></div--> <!--working, but temporarily commented out-->
      <!--div data-bind="ojModule: { viewName: 'nomodule'}"></div-->
      <div data-bind="ojModule: { name: 'content'}"></div>
      <!--div data-bind="ojModule: { name: 'table'}"></div-->
    </div>
    <!--div data-bind="ojModule: { name: 'footer'}"></div-->  <!--dropdown list component, working, but temporarily commented out -->
  </body>
</html>
